body {
  background-color: white;
}
h1 {
  color: blue;
  text-align: center;
  font-size: 45px;
}
h2 {
  color: red;
  text-align: left;
  letter-spacing:5px
}
p {
  #color: black;
  font-size: 30px;
  color: #333;
  text-align: center;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}